body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of viewport */
    margin: 0; /* Remove default margin */
  }
  
header, footer {
    background-color: #1e1e1e;
    color: black;
    padding: 10px;
  }
  
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    overflow: hidden; /* Prevents main from expanding beyond viewport */
    color: aqua;
  }
  
article {
    flex: 2;
    overflow-y: auto;
    padding: 10px;
  }
  
aside {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: lightgray;
  }
  